@model IEnumerable<TotalSquashNext.Models.UserLadder>

@{
    ViewBag.Title = "Display by Ladder";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.position)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ladder.ladderDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.username)
        </th>
        <th></th>
    </tr>
    @{int count=0;}
    @foreach (var item in Model)
    {

        <tr>
            <td>
                @{count+=1;}
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ladder.ladderDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.username)
            </td>
            @{if ((((TotalSquashNext.Models.User)Session["currentUser"]).id != item.userId))
              {
            <td>
                <a href="mailto:@item.User.emailAddress">Contact</a>
            </td>
            <td>
                <a href="@Url.Action("Challenge","Match",new{id=item.userId})">Challenge</a>
            </td>
            }
            }
        </tr>
    }

</table>
